Checks: >
  boost-*,
  -boost-use-ranges,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  google-*,
  -google-default-arguments,
  -google-build-using-namespace,
  hicpp-*,
  -hicpp-special-member-functions,
  llvm-*,
  -llvm-header-guard,
  misc-*,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  modernize-*,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-template-virtual-member-function,
  readability-*,
  -readability-static-accessed-through-instance,
  -readability-implicit-bool-conversion,
  -readability-redundant-access-specifiers,
  -readability-magic-numbers
CheckOptions:
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: ''
  - key: readability-identifier-naming.PublicMemberSuffix
    value: ''
  - key: readability-nested-if-statements.MaxDepth
    value: '3'
  - key: readability-function-cognitive-complexity.Threshold
    value: '15'
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
